{% extends 'base.html'%}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
{% load user_filters %} 
    <h1>Welcome to AI generated</h1>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center w-100">
          <h1>Welcome to AI generated</h1>
        </div>
        <form action="#" method="post" enctype="multipart/form-data" class="row">
          {% csrf_token %}
          <div class="col-lg-6 col-md-9">
            {% for field in form %} 
              <div class="form-group">
                {{ field.label }}
                {{ field|addclass:'form-control' }}
              </div>
            {% endfor %}
          </div>
          <div class="col-lg-6 col-md-3">
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    <h1><a href="{% url 'pictures:list' %}" class="btn btn-secondary">Galary</a></h1>
{% endblock %}