{% extends 'base.html'%}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  {% load thumbnail %}
  <div class="container">
    <div class="my-3 d-flex justify-content-center align-items-center w-100">
      <h1>Welcome to AI generated</h1>
    </div>

    <div class="row">
      {% for object in objects %}
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            {% thumbnail object.picture "1024x1024" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" class="card-img-top">
            {% endthumbnail %}
            <div class="card-body d-lg-inline-flex justify-content-between align-items-center">
              <h3 class="card-title">{{ object }}</h3>
              <a href="{% url 'pictures:detail' object.id %}" class="btn btn-primary">more info</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <a href="{% url 'pictures:index' %}" class="d-flex btn btn-lg btn-secondary mt-5 flex-grow-1 justify-content-center">Return to Generation Page</a>
{% endblock %}
