version: '3.3'
services:

  db:
    container_name: db
    image: postgres:13.0-alpine
    restart: always
    volumes:
      - ../db/:/var/lib/postgresql/data/
    env_file:
      - .env

  chat_gpt:
    # image: evg1995gon/chat_gpt:latest
    build:
      context: ../chatGPT/
      dockerfile: ../chatGPT/Dockerfile
    env_file:
      - .env
    restart: always
    volumes:
      - static_volumes:/app/static/
      - media_volumes:/app/media/
    depends_on:
      - db

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volumes:/var/html/static/
      - media_volumes:/var/html/media/
    depends_on:
      - chat_gpt

volumes:
  static_volumes:
  media_volumes: